*.apk
*.pdb
*.mdb
*.flag
*.lock
test/TestApp/TestApp/TestApp/bin/Debug/*
test/TestApp/TestApp/TestApp/obj/*
test/TestApp/TestApp/TestApp.Android/bin/Debug/*
test/TestApp/TestApp/TestApp.Android/obj/*
test/TestApp/TestApp/TestApp.iOS/*
test/TestPrismApp/TestPrismApp/TestPrismApp/bin/Debug/*
test/TestPrismApp/TestPrismApp/TestPrismApp/obj/*
test/TestPrismApp/TestPrismApp/TestPrismApp.Android/bin/Debug/*
test/TestPrismApp/TestPrismApp/TestPrismApp.Android/obj/*
Make10/Make10/Make10/bin/Debug/*
Make10/Make10/Make10/obj/*
Make10/Make10/Make10.Android/bin/Debug/*
Make10/Make10/Make10.Android/obj/*