
*.pdb
*.mdb
*.flag
*.lock
*.ide
*.ide
*.ide-shm
*.ide-wal
*.user
*.suo
test/TestApp/TestApp/TestApp/bin/Debug/*
test/TestApp/TestApp/TestApp/obj/*
test/TestApp/TestApp/TestApp.Android/bin/Debug/*
test/TestApp/TestApp/TestApp.Android/obj/*
test/TestApp/TestApp/TestApp.iOS/*
test/TestPrismApp/TestPrismApp/TestPrismApp/bin/Debug/*
test/TestPrismApp/TestPrismApp/TestPrismApp/obj/*
test/TestPrismApp/TestPrismApp/TestPrismApp.Android/bin/Debug/*
test/TestPrismApp/TestPrismApp/TestPrismApp.Android/obj/*
Make10/Make10/Make10/bin/Debug/*
Make10/Make10/Make10/bin/Release/*
Make10/Make10/Make10/obj/*
Make10/Make10/Make10.Android/bin/Debug/*
Make10/Make10/Make10.Android/bin/Release/*
Make10/Make10/Make10.Android/obj/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper/bin/Debug/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper/bin/Release/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper/obj/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper.Android/bin/Debug/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper.Android/bin/Release/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper.Android/obj/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper.Infrastructure/bin/Debug/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper.Infrastructure/bin/Release/*
ToDoTimeKeeper/ToDoTimeKeeper/ToDoTimeKeeper.Infrastructure/obj/*
